*{
    background: black;
}
.lamp{
    display: none;
}
.boy{
    width: 10rem;
    position: absolute;
    top: 0;
}
.boy-img{
    width: 10rem;
}
.on, .off{
    position: absolute;
    top: 0;
    right: 0;
    color: aliceblue;
    background: rgb(99, 99, 99);
    width: 5.5rem;
    height: 3rem;
    margin: .75rem;
    box-shadow: 2px 2px rgb(39, 39, 39);
    border: 2px solid rgb(78, 78, 78);
    border-radius: 3%;
    font-weight: bold;
    font-size: 1rem;
}
.off{
    right: 6rem;
}
.on, .off:hover{
    cursor: pointer;
}