*{
    direction: rtl;
    text-align: center;
    
}
.section{
    display: flex;
    justify-content: center;
    background: rgb(194, 194, 194);
    height: 60rem;
}
.Calculator{
    background: rgb(49, 49, 49);
    margin-top: 3rem;
    margin-bottom: auto;
    max-width: 25rem;
    border-radius: 1%;
}
.monitor{
    background: white;
    min-height: 3rem;
    margin: 1.5rem;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.header{
    color: rgb(182, 182, 182);
}
.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    
}
.btn{
    min-width: 4.5rem;
    background: rgb(255, 255, 255);
    padding: 1.5rem;
    margin: 0.25rem;
    font-size: 2rem;
    border-radius: 6%;
}
.footer{
    color: aliceblue;
}
.btn:hover{
    cursor: pointer;
    background: rgb(206, 206, 206);
}
.signs{
    background: rgb(155, 155, 155);
}
.equal{
    width: 100%;
}